/* Catppuccin Mocha Blue — userContent.css */

@-moz-document url-prefix("about:") {
  :root {
    --in-content-page-color: #cdd6f4 !important;
    --color-accent-primary: #89b4fa !important;
    --color-accent-primary-hover: rgb(163, 197, 251) !important;
    --color-accent-primary-active: rgb(138, 153, 250) !important;
    background-color: #1e1e2e !important;
    --in-content-page-background: #1e1e2e !important;
  }
}

@-moz-document url("about:newtab"), url("about:home") {
  :root {
    --newtab-background-color: #1e1e2e !important;
    --newtab-background-color-secondary: #313244 !important;
    --newtab-element-hover-color: #313244 !important;
    --newtab-text-primary-color: #cdd6f4 !important;
    --newtab-wordmark-color: #cdd6f4 !important;
    --newtab-primary-action-background: #89b4fa !important;
  }
  .icon { color: #89b4fa !important; }
  .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title { color: #89b4fa !important; }
  .top-site-outer .search-topsite { background-color: #89b4fa !important; }
}

@-moz-document url-prefix("about:preferences") {
  :root {
    --zen-colors-tertiary: #181825 !important;
    --in-content-text-color: #cdd6f4 !important;
    --link-color: #89b4fa !important;
    --zen-colors-primary: #313244 !important;
    --in-content-box-background: #313244 !important;
    --zen-primary-color: #89b4fa !important;
  }
  groupbox, moz-card { background: #1e1e2e !important; }
  button, groupbox menulist { background: #313244 !important; color: #cdd6f4 !important; }
  .main-content { background-color: #11111b !important; }
}

@-moz-document url-prefix("about:addons") {
  :root {
    --zen-dark-color-mix-base: #181825 !important;
    --background-color-box: #1e1e2e !important;
  }
}
